<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name = "viewpost" content="width=device-width, intitial-scale=1">
    <title>Blog :: 404</title>
</head>

<body>
<div class="container">
    <h1> Spring Boot Blog Application </h1>
    <a th:href="@{'/'} ">Home</a>
    <hr />
    <div class = "posts-container">
        <h2>Sorry, Post Not Found </h2>
        <hr/>
    </div>
</div>
</body>
</html>